.board {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  width: 400px;
  background-color: rgb(225, 249, 255);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.title {
  background-color: rgb(141, 221, 255);
  padding: 15px;
  margin-bottom: 15px;
  font-size: 40px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.todo-title {
  background-color: rgb(192, 239, 255);
  margin-bottom: 15px;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
